<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=\, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <h1>Foo News</h1>
      <main>
        <article>
          <h1><%= foo.title %></h1>
          <p>Published on: <%= foo.published %></p>
          <p>Author: <%= foo.author %></p>
          <p><%= foo.content %></p>
        </article>
      </main>
    </header>
  </body>
</html>
